$family-primary: 'Droid Sans Mono for Powerline', 'sans-serif';
$color1: #553c3c;
$color2: #b36a55;
$color3: #ce9178;
$color4: #eeddc5;
$color5: #acbeac;
$card-box-shadow-color-hover: $color1;
$tag-background-color: #e0eee0;
$link-hover: $color5;
$navbar-background-color: $color4;
$title-color: $color1;
$navbar-item-hover-color: #996b58;
$navbar-item-hover-background-color: #f5e9d9;
$navbar-padding-vertical: 0rem;
$link: #82a182;
