$family-primary: 'Droid Sans Mono for Powerline', 'sans-serif';
$card-box-shadow-color-hover: yellow;
$navbar-box-shadow-color: #996b58;
$link-hover: #569cd6;
$navbar-background-color: #ce9178;
$title-color: #007acc;
$navbar-item-hover-color: #996b58;
$navbar-item-hover-background-color: #e2ab97;
